
/* .notesaboutmockup {
	display: none;
} */

/* Uncomment the above if using these pages for usability testing */

#wb-bc {
    margin-left: auto;
    margin-right: auto;  
}

#wb-bc .container .breadcrumb{
    margin-top: 50px;
}

#dropdownBackground{
    background-color: white;
}

#wb-bc #change-licensee{
    max-height: 39px;
    width:100vw;
    left:0vw; 
    margin-bottom:2vh;
    background-color:rgb(30, 20, 88);
}

#wb-bc #change-licensee .container .row .col-xs-offset-8.col-xs-4{
    z-index: 2;
}

#wb-bc .container{
    max-height: inherit;
}

#wb-bc .container .row{
    max-height: inherit;
    z-index: 2;
}

@media (max-width: 680px){
    #wb-bc #change-licensee{
        max-height: 61px;
        width:100vw;
        left:0vw; 
        margin-bottom:2vh;
        padding-right: 20px;
    }
}
@media (max-width: 462px){
    #wb-bc #change-licensee{
        max-height: 84px;
        width:100vw;
        left:0vw; 
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    #change-licensee {
        position: absolute;
    }

}
@media (max-width: 680px) {
    #wb-bc .container .breadcrumb{
        margin-top: 70px;
    }

}

@media (max-width: 462px) {
    #wb-bc .container .breadcrumb{
        margin-top: 90px;
    }

}

@media (min-width: 768px) {
    #wb-bc {
        width: 750px;
    }
    #change-licensee {
        position: absolute;
    }
}
@media (min-width: 992px) {
    #wb-bc {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #wb-bc {
        width: 1170px;
    }
}
.border-top {
    padding-top: 11.5px;
    border-top: 1px solid #ddd
}
#change-licensee details summary {
    font-weight: bold;

    background-color: white;
    z-index: 2;
}
#change-licensee details[open] {
    padding-bottom: 0;
    float:left;
    width: 100%;
    z-index: 2;


}
#change-licensee a {
    text-decoration: none;
}
#change-licensee a:hover,
#change-licensee a:focus {
    text-decoration: underline;
}