<!DOCTYPE html>
<!-- minimally adapted from a mockup by Patrick -->
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<!-- Usage: /eic/site/cd-dgc.nsf/tpl-eng/template-1col.html?Open&id=5 (optional: ?Open&page=filename.html&id=x) -->
<!-- Created: ;  Product Code: 770;  Server: prestratnotes.ic.gc.ca -->

<head>
  <!-- <base href="https://www.ic.gc.ca/"> -->
  <!-- Title begins / Début du titre -->
  <title>Online Filing Centre - Corporations Canada - Corporations - Innovation, Science and Economic Development Canada
  </title>
  <!-- Title ends / Fin du titre -->
  <!-- Meta-data begins / Début des métadonnées -->
  <meta charset="utf-8" />
  <meta name="dcterms.language" title="ISO639-2" content="eng" />
  <meta name="dcterms.title" content="" />
  <meta name="description" content="" />
  <meta name="dcterms.description" content="" />
  <meta name="dcterms.type" content="Form" />
  <meta name="dcterms.subject" content="Businesses, Corporations" />
  <meta name="dcterms.subject" content="Businesses, Corporations" />
  <meta name="dcterms.issued" title="W3CDTF" content="" />
  <meta name="dcterms.modified" title="W3CDTF" content="" />
  <meta name="keywords" content="" />
  <meta name="dcterms.creator" content="" />
  <meta name="author" content="" />
  <meta name="dcterms.created" title="W3CDTF" content="" />
  <meta name="dcterms.publisher" content="" />
  <meta name="dcterms.audience" title="icaudience" content="" />
  <meta name="dcterms.spatial" title="ISO3166-1" content="" />
  <meta name="dcterms.spatial" title="gcgeonames" content="" />
  <meta name="dcterms.format" content="HTML" />
  <meta name="dcterms.identifier" title="ICsiteProduct" content="770" />
  <!-- EPI-11240 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- MCG-202 -->
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <!-- EPI-11567 -->
  <meta name="format-detection" content="telephone=no">
  <!-- EPI-11190 - Webtrends -->
  <script>
    var startTime = new Date();
    startTime = startTime.getTime();
  </script>
  <!--[if gte IE 9 | !IE ]><!-->
  <link href="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/assets/favicon.ico" rel="icon"
    type="image/x-icon">
  <link rel="stylesheet"
    href="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/css/wet-boew.min.css">
  <!--<![endif]-->
  <link rel="stylesheet"
    href="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/css/theme.min.css">
  <!--[if lt IE 9]>
<link href="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/css/ie8-wet-boew.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/ie8-wet-boew.min.js"></script>
<![endif]-->
  <!--[if lte IE 9]>
<![endif]-->
  <noscript>
    <link rel="stylesheet"
      href="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/css/noscript.min.css" /></noscript>
  <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
 <script>
    dataLayer1 = [];
  </script>
  <!-- End Google Tag Manager -->
  <!-- EPI-11235 -->
  <link rel="stylesheet" href="https://www.ic.gc.ca/eic/home.nsf/css/add_WET_4-0_Canada_Apps.css">
  <link href="https://www.ic.gc.ca/eic/home.nsf/css/_WET_2-3_zebra_style.css" rel="stylesheet">
  <link href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/css/institution-wet4-fix.css" media="screen, print"
    rel="stylesheet" type="text/css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--[if IE]>
                             <link rel="stylesheet" type="text/css" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/css/mandatoryFieldsIE.css" />
                           <![endif]-->
  <!--[if IE 7]>
                             <link rel="stylesheet" type="text/css" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/css/mandatoryFieldsIE7.css" />
                           <![endif]-->
  <!--[if IE 6]>
                             <link rel="stylesheet" type="text/css" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/css/mandatoryFieldsIE6.css" />
                           <![endif]-->
  <!--[if lt IE 6]>
                             <link rel="stylesheet" type="text/css" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/css/mandatoryFieldsIE5.css" />
                           <![endif]-->
 <!-- <link rel="stylesheet" href="http://asbscr.ic.gc.ca/mockups/ccdev-corp-corpcan-development/UI_Design/wet4/externalWeb/cr195-noFeeCopies/style.css"> -->
  <link rel="stylesheet" href="../style.css">

</head>

<body class="home" vocab="http://schema.org/" typeof="WebPage">
  <!-- EPIC HEADER BEGIN -->
  <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
  <noscript><iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer1' ? '&l=' + l : '';
      j.async = true;
      j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer1', 'GTM-TLGQ9K');
  </script>
  <!-- End Google Tag Manager -->
  <!-- EPI-12801 -->
  <span typeof="Organization">
    <meta property="legalName" content="Department_of_Industry"></span>
  <ul id="wb-tphp">
    <li class="wb-slc">
      <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
      <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
  </ul>

  <header role="banner" id="top-of-page">
    <div id="wb-bnr" class="container">
      <section id="wb-lng" class="visible-md visible-lg text-right">
        <h2 class="wb-inv">Language selection</h2>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline mrgn-bttm-0">
              <li><a href="#top-of-page" title="Fran&ccedil;ais" lang="fr">Fran&ccedil;ais</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="brand col-xs-8 col-sm-9 col-md-6">
          <a><object type="image/svg+xml" tabindex="-1"
              data="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/assets/sig-blk-en.svg"></object><span
              class="wb-inv"> Government of Canada</span></a>
        </div>
        <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
          <h2>Search and menus</h2>
          <ul class="list-inline text-right chvrn">
            <li>
              <a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span
                  class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span
                      class="wb-inv">Search and menus</span></span></span></a>
            </li>
          </ul>
          <div id="mb-pnl"></div>
        </section>
        <section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
          <h2 class="wb-inv">Search</h2>
          <!-- EPI-11385, EPI-12369 -->
          <form action="https://recherche-search.gc.ca/rGs/s_r?#wb-land" method="get" name="cse-search-box"
            role="search" class="form-inline">
            <div class="form-group">
              <label for="wb-srch-q" class="wb-inv">Search website</label>
              <input name="cdn" value="canada" type="hidden">
              <input name="st" value="s" type="hidden">
              <input name="num" value="10" type="hidden">
              <input name="langs" value="eng" type="hidden">
              <input name="st1rt" value="0" type="hidden">
              <input name="s5bm3ts21rch" value="x" type="hidden">
              <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value=""
                size="27" maxlength="150" placeholder="Search Canada.ca">
              <datalist id="wb-srch-q-ac">
                <!--[if lte IE 9]><select><![endif]-->
                <!--[if lte IE 9]></select><![endif]-->
              </datalist>
            </div>
            <div class="form-group submit">
              <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span
                  class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
            </div>
          </form>
        </section>
      </div>
    </div>
    <nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl"
      data-ajax-fetch="//cdn.canada.ca/gcweb-cdn-dev/sitemenu/sitemenu-en.html" typeof="SiteNavigationElement">
      <h2 class="wb-inv">Topics menu</h2>
      <div class="container nvbar">
        <div class="row">
          <ul class="list-inline menu">
            <li><a>Jobs</a></li>
            <li><a>Immigration</a></li>
            <li><a>Travel</a></li>
            <li><a>Business</a></li>
            <li><a>Benefits</a></li>
            <li><a>Health</a></li>
            <li><a>Taxes</a></li>
            <li><a>More services</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- EPIC BODY BEGIN -->
    <nav role="navigation" id="wb-bc" class="" property="breadcrumb">
      <h2 class="wb-inv">You are here:</h2>
      <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            <li><a href="#top-of-page">Home</a></li>
            <li><a href="#top-of-page">Innovation, Science and Economic Development Canada</a></li>
            <li><a href="#top-of-page">Corporations Canada</a></li>
            <li> <a href="#top-of-page">Online Filing Centre</a></li>
          </ol>
        </div>
      </div>
    </nav>
  </header>




  <main role="main" property="mainContentOfPage" class="container">
    <!-- RIGHT CONTENT BEGINS | DEBUT DU CONTENU LATERAL DROITE -->
    <div class="col-md-12 mrgn-tp-md" id="metrics" data-ng-app="CorpWeb" data-metric-view="onlineFilingCentre">
      <div class="row">
        <h1 id="wb-cont">Online Filing Centre</h1>
        <!-- CORPORATIONSCANADA BREADCRUMB BEGIN -->
        <p class="gc-byline">
          <b>From
            <a href="#top-of-page">Corporations Canada</a>
          </b>
        </p>
        <!-- CORPORATIONSCANADA BREADCRUMB END -->
        <!--
<section class="alert alert-warning">
<h2 class="h3">Intermittent network disruptions</h2>
<p>Please note that we are currently experiencing intermittent outages on some sections of the Corporations Canada website. </p>
<p>We apologize for any inconvenience this may cause and appreciate your patience while we work to resolve the issue.</p>
</section>
-->
        <div class="row mrgn-tp-md">
          <div class="col-md-4 pull-right">
            <form id="authForm" method="post">
              <div id="tables1" class="wb-frm panel panel-default">
                <header class="panel-heading">
                  <h2 class="panel-title">Resubmission/Saved</h2>
                </header>
                <section class="panel-body">
                  <fieldset>
                    <legend class="wb-inv">
                      <span>Resubmission/Saved</span>
                    </legend>
                    <div class="form-group">
                      <label for="requestId">
                        <span class="field-name">
                          Request ID
                        </span>
                      </label>
                      <input id="requestId" name="requestId" class="form-control" type="text" value="" />
                    </div>
                    <div class="form-group">
                      <label for="contactEmail">
                        <span class="field-name">
                          Email Address
                        </span>
                      </label>
                      <input id="contactEmail" name="contactEmail" class="form-control" type="text" value="" />
                    </div>
                  </fieldset>
                </section>
                <footer class="panel-footer">
                  <a href="#top-of-page" name="authRequest" class="btn btn-default">Submit</a>
                </footer>
              </div>
            </form>
            <form id="login" data-ng-controller="LoginController" method="post">
              <div id="tables2" class="panel panel-default">
                <header class="panel-heading">
                  <h2 class="panel-title">Registered Intermediary</h2>
                </header>
                <section class="panel-body">
                  <fieldset>
                    <legend class="wb-inv">
                      <span>Registered Intermediary</span>
                    </legend>
                    <div class="form-group">
                      <label for="intermediaryId" class="mrgn-rght-sm">
                        Registered Intermediary ID
                      </label>
                      <input id="intermediaryId" type="text" name="j_username" class="form-control"
                        data-ng-model="username" />
                    </div>
                    <div class="form-group mrgn-tp-md">
                      <label for="intermediaryKey" class="mrgn-rght-sm">
                        Registered Intermediary Key
                      </label>
                      <input id="intermediaryKey" type="password" name="j_password" class="form-control"
                        data-ng-model="password" />
                    </div>
                  </fieldset>
                </section>
                <footer class="panel-footer">
                  <p>
                    Don&#39;t have an ID or Key?
                    <br>
                    <a href="#top-of-page" title="Become a Registered Intermediary - opens in a new window"
                      rel="help">Become a Registered Intermediary</a>
                  </p>
                  <div>
                    <input class="hidden" name="lang" value="eng" />
                  </div>
                  <a href="#top-of-page" name="authIntermediary" class="btn btn-default">Authorize</a>
                </footer>
              </div>
            </form>
          </div>
          <!-- RESUBMISSION/REGISTERED INTERMEDIARY ENDS | FIN DU SOUMETTRE DE NOUVEAU/INTERMEDIARE -->
          <!--  This section will display a legend explaining the corporation key for non JavaScript enabled browsers -->
          <noscript>
            <fieldset id="corpKeyInfoFieldset">
              <legend>
                Legend
              </legend>
              <table>
                <tr>
                  <td style="border: none;"><span class="fa fa-lock showCorpKeyInfo" style="cursor: help;"
                      title="Corporation key required"></span></td>
                  <td style="border: none;">
                    A <a href="#top-of-page" title="Corporation Key - opens in a new window" target="_blank" rel="help">Corporation Key</a>
                    is required to file this type of request online.
                  </td>
                </tr>
              </table>
            </fieldset>
          </noscript>
          <!--  The content of the pop-up message explaining the corporation key for JavaScript enabled browsers -->
          <section id="corpKeyInfoDialog" class="mfp-hide modal-dialog modal-content overlay-def">
            <header class="modal-header">
              <h2 class="modal-title">Corporation key required</h2>
            </header>
            <div class="modal-body">
              <p>
                A <a href="#top-of-page" title="Corporation Key - opens in a new window" target="_blank" rel="help">Corporation Key</a> is
                required to file this type of request online.
              </p>
              <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
            </div>
          </section>
          <div class="row col-md-8">
            <div class="col-md-6 mrgn-bttm-sm">
              <a href="#top-of-page" class="btn btn-primary btn-lg btn-block">
                File Annual Return<br>
                (Fee: $20)
              </a>
            </div>
            <div class="col-md-6 mrgn-bttm-sm">
              <a href="010 Before we get started.html" class="btn btn-primary btn-lg btn-block">
                Incorporate<br>
                (Fee: $200)
              </a>
            </div>



            <section class="col-md-12 mrgn-tp-md">
              <h2 class="mrgn-tp-md">
                Services
              </h2>
              <table class="table table-striped table-hover">
                <caption class="wb-inv">
                  Services for all corporations
                </caption>
                <thead class="wb-inv">
                  <tr>
                    <th>Request</th>
                    <th>Fee</th>
                    <th>Service requiring a corporation key</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="annualReturn" class="col-md-9">
                      <a href="#top-of-page">File annual return</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $20
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="incorporation" class="col-md-9">
                      <a href="010 Before we get started.html">Incorporate</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $200
                     </span>
                    </td>
                    <td class="text-center"></td>
                  </tr>
                  <tr>
                    <td id="copies" class="col-md-9">
                      <a href="#top-of-page">Buy copies of corporate documents</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $1 per page
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="compliance" class="col-md-9">
                      <a href="#top-of-page">Obtain a Certificate of Compliance</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $10
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="existence" class="col-md-9">
                      <a href="#top-of-page">Obtain a Certificate of Existence </a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $10
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="amend" class="col-md-9">
                      <a href="#top-of-page">Amend articles</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $200
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="preApprove" class="col-md-9">
                      <a href="#top-of-page">Pre-approve a corporate name</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="obtainKey" class="col-md-9">
                      <a href="#top-of-page">Obtain corporation key</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="changeDir" class="col-md-9">
                      <a href="#top-of-page">View/change director information</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                       <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                      </td>
                    </tr>
                    <tr>
                      <td id="changeRO" class="col-md-9">
                      <a href="#top-of-page">Change registered office information</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                        <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                    </td>
                  </tr>
                  <tr>
                    <td id="additionalAddress" class="col-md-9">
                      <a href="#top-of-page">Add/Change additional address</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                        <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                    </td>
                  </tr>
                  <tr>
                    <td id="arNotice" class="col-md-9">
                      <a href="#top-of-page">Annual Return Reminder Emails</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="emailSubscriptions" class="col-md-9">
                      <a href="#top-of-page">Receive email updates</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="financialStatement" class="col-md-9">
                      <a href="#top-of-page">File financial statements</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                        <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                    </td>
                  </tr>
                  <tr>
                    <td id="exemptions" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      Apply for an exemption
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        $0 / $250
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>



            <section class="col-md-12 mrgn-tp-md">
              <h2 class="mrgn-tp-md">Services for not-for-profit corporations ONLY</h2>
              <table class="table table-striped table-hover">
                <caption class="wb-inv">
                  Services for not-for-profit corporations
                </caption>
                <thead class="wb-inv">
                  <tr>
                    <th>Request</th>
                    <th>Fee</th>
                    <th>Service requiring a corporation key</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="bylaw" class="col-md-9">
                      <a href="#top-of-page">File by-laws</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                        <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>



            <section class="col-md-12 mrgn-tp-md">
              <h2 class="mrgn-tp-md">Services for Business Corporations ONLY</h2>
              <table class="table table-striped table-hover">
                <caption class="wb-inv">
                  Services for business corporations
                </caption>
                <thead class="wb-inv">
                  <tr>
                    <th>Request</th>
                    <th>Fee</th>
                    <th>Service requiring a corporation key</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="cont" class="col-md-9">
                      <a href="#top-of-page">Continue a business into the CBCA</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $200
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="amalg" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      Amalgamate Corporations
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        $200
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="dissolution" class="col-md-9">
                      <a href="#top-of-page">Dissolve a corporation</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                        <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                    </td>
                  </tr>
                  <tr>
                    <td id="pass" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      Intent to dissolve
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="revoke" class="col-md-9">
                      <a href="#top-of-page">Revoke intent to dissolve</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-info">
                        $50
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="satisfaction" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      Obtain a Letter of Satisfaction (for export)
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        $200
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="proxyCircular" class="col-md-9">
                      <a href="#top-of-page">File a proxy circular</a>
                    </td>
                    <td class="text-left">
                      <span class="label label-default">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="#corpKeyInfoDialog" class="wb-lbx" role="button" title="Corporation key required">
                        <span class="fa fa-lock"></span>
                        <span class="wb-inv">Corporation key required</span></a>
                    </td>
                  </tr>
                  <tr>
                    <td id="pass_iter" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      Pre-approve schedules
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="managePass" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      Manage pre-approved schedules
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                 <tr>
                    <td id="b2bInc" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      B2B Articles of Incorporation
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        $200
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="b2bAR" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      B2B Annual Return
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        $20
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                  <tr>
                    <td id="b2bName" class="no_access_text col-md-9"
                      title="Sign in as a registered intermediary to access these services">
                      B2B Pre-approve a corporate name
                    </td>
                    <td class="text-left">
                      <span class="no_access">
                        No Fee
                      </span>
                    </td>
                    <td class="text-center">
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row pagedetails">
      <div class="col-sm-5 col-xs-12 datemod">
        <dl id="wb-dtmd">
          <!-- DATE MODIFIED BEGINS | DEBUT DE LA DATE DE MODIFICATION -->
          <dt>Date Modified:</dt>
          <dd>
            <time property="dateModified">
              2019-05-06
            </time>
          </dd>
          <!-- DATE MODIFIED ENDS | FIN DE LA DATE DE MODIFICATION -->
          <dd>
            <!-- was-vm-uat1 -->
          </dd>
        </dl>
      </div>
      <div class="clear visible-xs"></div>
      <div class="col-sm-4 col-xs-6">
      </div>
      <div class="col-sm-3 col-xs-6 text-right">
      </div>
      <div class="clear visible-xs"></div>
    </div>

  </main>
  <footer role="contentinfo" id="wb-info">
    <nav role="navigation" class="container wb-navcurr">
      <h2 class="wb-inv">About government</h2>
      <!-- EPIC FOOTER BEGIN -->
      <!-- EPI-11638 Contact us -->
      <ul class="list-unstyled colcount-sm-2 colcount-md-3">
        <li><a href="#top-of-page">Contact us</a></li>
        <li><a href="#top-of-page">Departments and agencies</a></li>
        <li><a href="#top-of-page">Public service and military</a></li>
        <li><a href="#top-of-page">News</a></li>
        <li><a href="#top-of-page">Treaties, laws and regulations</a></li>
        <li><a href="#top-of-page">Government-wide reporting</a></li>
        <li><a href="#top-of-page">Prime Minister</a></li>
        <li><a href="#top-of-page">How government works</a></li>
        <li><a href="#top-of-page">Open government</a></li>
      </ul>
    </nav>
    <div class="brand">
      <div class="container">
        <div class="row">
          <nav class="col-md-10 ftr-urlt-lnk">
            <h2 class="wb-inv">About this site</h2>
            <ul>
              <li><a href="#top-of-page">Social media</a></li>
              <li><a href="#top-of-page">Mobile applications</a></li>
              <li><a href="#top-of-page">About Canada.ca</a></li>
              <li><a href="#top-of-page">Terms and conditions</a></li>
              <li><a href="#top-of-page">Privacy</a></li>
            </ul>
          </nav>
          <div class="col-xs-6 visible-sm visible-xs tofpg">
            <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
          </div>
          <div class="col-xs-6 col-md-2 text-right">
            <object type="image/svg+xml" tabindex="-1" role="img"
              data="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/assets/wmms-blk.svg"
              aria-label="Symbol of the Government of Canada"></object>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--[if gte IE 9 | !IE ]><!-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/wet-boew.min.js"></script>
  <!--<![endif]-->
  <!--[if lt IE 9]>
<script src="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
  <script src="https://www.ic.gc.ca/utils/scripts/_WET_4-0/apps/themes-dist/gcweb/js/theme.min.js"></script>
  <!-- EPI-10519 -->
  <script type="text/javascript">
    var applicationContextPath = "https://www.ic.gc.ca/app/scr/cc/CorporationsCanada";
  </script>
  <script type="text/javascript"
    src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/webjars/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript"
    src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/webjars/ngstorage/0.3.11/ngStorage.min.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/domnavigation-1.1.js">
  </script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/showhide.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/popup.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/cc.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/glossary.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/modals.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/scrollXY.js"></script>
  <script type="text/javascript" src="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/js/scrollXYFocus.js"></script>
  <!-- EPI-11190 - Webtrends -->
  <script src="https://www.ic.gc.ca/eic/home.nsf/js/webtrends.js"></script>
  <script>
    var endTime = new Date();
  </script>
  <noscript>
    <div><img alt="" id="DCSIMG" width="1" height="1"
        src="//wt-sdc.ic.gc.ca/dcs6v67hwe0ei7wsv8g9fv50d_3k6i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.ic.gc.ca">
   </div>
  </noscript>
  <!-- /Webtrends -->
  <!-- JS deps -->
  <script src="https://www.ic.gc.ca/eic/home.nsf/js/jquery.imagesloaded.js"></script>
  <!-- EPI-11262 - Util JS -->
  <script src="https://www.ic.gc.ca/eic/home.nsf/js/_WET_4-0_utils_canada.min.js"></script>
  <!-- EPI-11383 -->
  <script src="https://www.ic.gc.ca/eic/home.nsf/js/jQuery.icValidationErrors.js"></script>
  <span style="display:none;" id='app-info' data-project-groupid='ca.gc.ic.strategis.cc.corporationsSystem'
    data-project-artifactid='CC_CorporationsSystemCommon' data-project-version='4.27.0-SNAPSHOT'
    data-project-build-timestamp='2018-09-28T09:30:09Z' data-issue-tracking='http://jira.ic.gc.ca/browse/CCDEV'
    data-scm-sha1='840257e89aabfb26f102f95be38475a9131914c7' data-scm-sha1-abbrev='840257e' data-scm-branch='master'
    data-scm-commit-date='2018-09-27 03:52 PM -0400'></span>

</body>

</html>