/* Note: this CSS file has more than its share of magic numbers. Screens have only been tested in Firefox on Windows with default font-sizes. */

/* Anatomy:
.big-buttons             -- triggers the rules in this stylesheet
  .radio                 -- triggers rules in WET
    label                -- the actual big-button
      .bb-icon           -- SVG image, at top right
      .bb-header-wrapper -- larger text, including optional examples, at top left
        .bb-header       -- Actual header text
        .bb-example      -- Example
      .bb-text           -- smaller text, at bottom right
      (button)           -- actually a combination of ::before and ::after for the label
*/

.big-buttons .radio {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.65em;
}

.big-buttons .radio label {
  width: 100%;
  padding: 15px;
  margin-top: 12px;
  margin-bottom: 20px;
  border: 1px solid #26374a;
  min-height: 130px;
}
.big-buttons .radio input[type="radio"]:checked + label,
.big-buttons .radio input[type="radio"]:focus + label {
  border-bottom-width: 10px;
  margin-bottom: 11px;
}

/* big buttons: icons */
.bb-icon {
  float: right;
}
.bb-icon img {
  height: 50px;
}

/* big buttons: header section */
.bb-header {
  font-size: 1.2em;
  font-weight: bold;
}
.bb-example {
  display: block;
}

/* big buttons: text */
.bb-text {
  min-width: 72px;
  text-align: right;
  float: right;
}

/* custom checkboxes */
.big-buttons input {
  opacity: 0;
}
/* circle */
.big-buttons .radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  left: 29px;
  bottom: 34px;
  width: 36px;
  height: 36px;
  margin-top: -4px;
  border: 2px solid #333;
  border-radius: 50%;
}

/* focus */
.big-buttons .form-checkbox input[type="checkbox"]:focus + label::before,
.big-buttons .form-radio input[type="radio"]:focus + label::before,
.big-buttons .checkbox input[type="checkbox"]:focus + label::before,
.big-buttons .radio input[type="radio"]:focus + label::before {
  border-width: 3px;
}

/* checkmark */
.big-buttons .radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 40px;
  bottom: 43px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* hide the check */
.big-buttons .radio input[type="radio"]:not(:checked) + label::after {
    content: none;
}