/* Specific formatting for the CCNaming project */
/* TESTED ONLY IN FIREFOX ON WINDOWS */

/* constrain line-width to 65 characters (more or less!) per https://design.canada.ca/styles/typography.html */
.limited-width {
  max-width: 559px;
}

/* resize sidebar */
@media all and (min-width:992px) {
  aside.gc-nav nav {
    width: 25%;
    left: 75%;
  }
  aside.gc-nav h1 {
    width: 75%;
  }
  section.gc-nav-section {
    width: 75%;
  }
  aside.gc-nav ~ section.gc-nav-section {
    right: 25%;
  }
}


/* Dropdown widget */
summary::marker {
  font-size: 22.5px;
}
details summary {
  border-radius: 5px;
}

/* Line spacing and margins */
:not(#wb-srch) form,
li {
  line-height: 24px;
}
p {
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
}

/* Navigation buttons */
form .action-bar .btn {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-right: 17px;
}
form .action-bar .btn:not(.btn-link) {
  min-width: 129px;
  border-radius:10px;
}

/* All buttons */
.btn.focus, .btn:focus, .btn:hover {
  font-weight: bold;
}

/* headings */
h1 {
  border-bottom-color: #ff0000;
  margin-bottom: 15.6px;
}
h2 {
  margin-top: 0;
}

/* Step navigation */
.gc-navseq li.completed, .gc-navseq-fa li.completed, .gc-navseq-fa li.completed span.fa-li {
  border-color: #26374a;
}
.gc-navseq li.completed>a::before {
  border-color: #26374a;
  background-color: #26374a;
  color: #fff;
}
.gc-navseq *, .gc-navseq-fa * {
  line-height: 24px !important;
}
ul.gc-navseq > li.group > a::before {
  margin-top: -6px;
}

/* Panels */
.panel-primary {
  border-color: #26374a;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #26374a;
  border-color: #26374a;
}

.panel-info {
  border-color: #cad6e3;
}
.panel-info > .panel-heading {
  color: #26374a;
  background-color: #cad6e3;
  border-color: #cad6e3;
}

@media all and (min-width:768px) {
  .panel-body {
    height: 361px;
  }
}

/* display name */
.display-name {
  font-size: 36px;
  line-height: 40px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* "instruction" */
.instruction {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}