details, summary {
  display: inline-block;
}
details {
  width: 100%;
}
.evaluation summary {
  min-height: 50px;
}
details summary {
  padding: 12px;
}
.can-ca-form .checkbox, .can-ca-form .radio {
  padding-left: 0;
  margin: 0;
}
.can-ca-form .checkbox label, .can-ca-form .radio label {
  padding-left: 0;
}

.can-ca-form .checkbox label::before, .can-ca-form .radio label::before, .can-ca-form .form-checkbox label::before, .can-ca-form .form-radio label::before {
  position: inherit;
  margin-top: -6px;
  margin-right: -5px;
}
.can-ca-form .checkbox label::after, .can-ca-form .radio label::after, .can-ca-form .form-checkbox label::after, .can-ca-form .form-radio label::after {
  left: 12px;
}