/* ********* */
/* from Kivi */
/* ********* */

/* To hide the notes box, uncomment the following declaration: */
/*
.notesaboutmockup {
  display: none;
}
*/

/* Utility classes */
.bold {
  font-weight: bold;
}
.fullwidth {
  width: 100%;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.margin-top {
  margin-top: 38px;
}
.largefix {
  margin-top: -24px;
  margin-left: 78px;
  font-size: 20px !important;
}


/* Step navigation */
.gc-navseq li.completed a,
.gc-navseq li.completed a:visited,
.gc-navseq li.completed a::before {
    color: #888888;
}
.gc-navseq li.active a {
  font-weight: bold;
}

/* Group headers */
ul.gc-navseq {
  counter-reset: step-counter;
}
ul.gc-navseq > li.group {
  padding-left: 29px;
  counter-increment: step-counter;
}
ul.gc-navseq > li.group > a::before {
  height: 34px;
  width: 34px;
  margin-left: -52px;
}
ul.gc-navseq > li.group > a::before {
  content: counter(step-counter);
}
.accordion-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid;
  pointer-events: none;
}
.accordion-icon.open {
  border-top: 13px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* Because the nav can be long, show "skip to content" link at small screen sizes */
@media screen and (max-width:991px) {
  .wb-sl[href="#wb-cont"] {
    clip: unset;
    height: unset;
    margin: unset;
    overflow: unset;
    position: unset;
    width: unset;
    color: #fff;
  }
}


/* Action bar */
.action-bar {
  margin-top: 4rem;
}
form .action-bar .btn {
  margin-right: 3rem;
  padding: 0.5rem;
}
form .action-bar .btn:not(.btn-link) {
  min-width: 6em;
}


/* Mockup notes */
.notesaboutmockup {
  margin-top: 8rem;
  border-color: #FC6;
  border-width: 2px;
  border-style: solid;
  padding: 0 1em;
  color: #333;
  background: #FFD;
}
.notesaboutmockup h2 {
  font-size: inherit;
  margin-top: 1em;
}


/* General formatting */
.breadcrumb {
  display: none;
}
.input-group .form-control {
  padding: 10px 14px;
  line-height: inherit;
}
details[open] {
  padding-bottom: 0;
}
fieldset {
  border-top: 0;
  padding-top: 0;
}
details > ul > li {
  list-style-type: disc;
}

/* Temporary fix: remove when https://github.com/wet-boew/GCWeb/pull/1676 is approved */
:not(#wb-srch) form, .checkbox, .checkbox-inline, .radio, .radio-inline, form .btn:not(.btn-call-to-action) {
  font-size: 20px;
  line-height: inherit;
}
:not(#wb-srch) form {
  line-height: 1.65em;
}
form .btn:not(.btn-call-to-action), .form-control {
  padding: 10px 14px;
}
legend {
  line-height: inherit;
}

/* Hack for step nav in Chrome */
.chromehack::before {
  float: left;
}



/* ******** */
/* from TBS */
/* ******** */

/* Based on https://design.canada.ca/css/checkbox-radio.css */

/* bigger label */
label {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
}

.label {
  text-align: left!important;
  display:inline-block!important;
  clear: left!important;
  white-space:normal!important;
}

/* increase field flow sizing */

.btn {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

.pagedetails .btn  {
  font-size: 16px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

input[type="reset"], input[type="button"], input[type="submit"]
{
  height: 50px!important;
}

/* custom checkboxes */

.can-ca-form input {
  position: absolute;
  opacity: 0;
}

.can-ca-form .is-disabled {
  opacity: 0.5;
}

.can-ca-form .is-disabled label {
  cursor: not-allowed;
}

.can-ca-form {
  clear: both;
  padding-top: 6px;
}

.can-ca-form .checkbox,
.can-ca-form .radio,
.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.can-ca-form .checkbox,
.can-ca-form .radio {
  padding-left: 30px;
  margin-bottom: 32px;
}

.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
  margin-right: 30px;
  margin-bottom: 25px;
  min-width: 26%; /* prevents weird overlapping */
}

.can-ca-form .form-checkbox label,
.can-ca-form .form-radio label {
  padding-left: 50px;
}

.can-ca-form .checkbox label::before,
.can-ca-form .radio label::before,
.can-ca-form .form-checkbox label::before,
.can-ca-form .form-radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  margin-top: -4px;
}

.can-ca-form .checkbox-small label::before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   display: inline-block;
   top: 0;
   left: 0;
   width: 24px;
   height: 24px;
   border: 2px solid #333;
   margin-top: 0;
}

.can-ca-form .radio label::before,
.can-ca-form .form-radio label::before {
  content: "";
  border-radius: 50%;
}

/* focus */
.can-ca-form .form-checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-radio input[type="radio"]:focus + label::before,
.can-ca-form .checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .radio input[type="radio"]:focus + label::before {
  border-width: 3px;
}


.can-ca-form .checkbox label::after,
.can-ca-form .form-checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.can-ca-form .checkbox-small label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.can-ca-form .radio label::after,
.can-ca-form .form-radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

/* hide the check */
.can-ca-form .form-checkbox input[type="checkbox"] + label::after,
.can-ca-form .form-radio input[type="radio"] + label::after,
.can-ca-form .checkbox input[type="checkbox"] + label::after,
.can-ca-form .radio input[type="radio"] + label::after {
    content: none;
}

/* unhide check when checked */
.can-ca-form .form-checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .form-radio input[type="radio"]:checked + label::after,
.can-ca-form .checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .radio input[type="radio"]:checked + label::after {
    content: "";
}

 @media only screen and (max-width: 1200px) {

.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
    min-width: 50%;
  }
}



/* ******** */
/* from TBS */
/* ******** */

/* Based on CSS in https://www.canada.ca/en/revenue-agency/services/child-family-benefits/canada-child-benefit-overview/canada-child-benefit-payment-dates.html */


/*page structure desktop (new) */
@media all and (min-width:992px) {
aside.gc-nav nav {
  position: relative;
  width: 33.33%;
  left: 66.66%;
  float: left;
  padding-left: 15px;
  margin-top: 38px;
  margin-bottom: 30px;
}
aside.gc-nav h1 {
  width: 66.66%;
  padding-right: 15px;
  border-bottom: none;
  font-size: 1.3em;
  color: #777;
  margin-top: 20px;
  margin-bottom: -5px;
  font-weight: 200;
}
section.gc-nav-section {
  position: relative;
  width: 66.66%;
  float: left;
  padding-right: 15px;
}
aside.gc-nav ~ section.gc-nav-section {
  right: 33.33%;
}
/* aside.gc-nav ~ section.gc-nav-section h1 {
  margin-top: 0px
} */
section.gc-nav-section + .pagedetails {
  clear: both;
}
}

/*GC navigation list */
.gc-navseq .small, .gc-navseq small {
  line-height: 0em;
}
/* .gc-navseq * {
  font-weight: inherit!important
} */
.gc-navseq *, .gc-navseq-fa * {
  font-size: inherit!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  line-height: inherit!important
}
.gc-navseq {
  margin-top: 6px;
  list-style: none;
}
ol.gc-navseq {
  margin-left: -10px;
  counter-reset: step-counter;
  padding-top:6px;
}
ul.gc-navseq {
  margin-left: -16px;
  padding-top:6px;
}
.gc-navseq>li {
  padding-bottom: 24px;
  margin-left: -12px;
  border-left: 5px solid #26374a;
  position: relative;
}
ol.gc-navseq>li {
  padding-left: 29px;
  counter-increment: step-counter;
}
ul.gc-navseq>li, .gc-navseq ul>li {
  padding-left: 24px
}
ul.gc-navseq li::first-line {
  line-height: 1em;
}
.gc-navseq li a::before {
  text-decoration: underline;
}
ul.gc-navseq.noline>li {
  border-left: 5px solid transparent
}
.gc-navseq>li>a::before {
  border-radius: 50%;
  border: 4px solid #26374a;
  background-color: #fff;
  /* float: left; */ /* Doesn't work with Chrome; add via Javascript :-( */
  /* display: inline-block; */
  display: block; /* inline-block and float are incompatible */
  text-decoration: none;
  box-sizing: content-box;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
  transition: all 0.2s;
}
ol.gc-navseq>li>a::before {
  height: 34px;
  width: 34px;
  margin-left: -52px;
}
ul.gc-navseq>li>a::before {
  height: 18px;
  width: 18px;
  margin-left: -39px;
  content: "";
}
ul.gc-navseq>li>a[href]:hover::before {
  width: 20px;
  height: 20px;
  margin-top: -1px;
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: -40px;
  line-height: 1.55;
}
ol.gc-navseq>li>a::before {
  content: counter(step-counter);
}
ol.gc-navseq>li>a[href]:hover::before {
  width: 36px;
  height: 36px;
  margin-top: -2px;
  font-size: 1.2em;
  margin-right: -2px;
  margin-left: -53px;
  line-height: 1.5;
}
.gc-navseq>li:last-child, .gc-navseq>li.completed:last-child, ul.gc-navseq-fa li:last-child {
  border-left: 5px solid transparent;
  padding-bottom: 0px;
}
/*completed*/
.gc-navseq li.completed, .gc-navseq-fa li.completed, .gc-navseq-fa li.completed span.fa-li {
  border-color: #ccc;
}
.gc-navseq li.completed>a::before {
  border-color: #ccc;
}
/*active*/
.gc-navseq li.active>a::before, .gc-navseq-fa li.active span.fa-li {
  background-color: #26374a;
  color: #fff;
}
/*FA icons*/
ul.gc-navseq-fa {
  margin-left: 0.9em;
  list-style: none;
}
ul.gc-navseq-fa li span.fa-li {
  border-radius: 50%;
  border: 4px solid #26374a;
  background-color: #fff;
  height: 40px;
  width: 40px;
  font-size: 1em;
  margin-left: 16px;
  -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
  transition: all 0.2s;
}
ul.gc-navseq-fa>li {
  padding-bottom: 24px;
  border-left: 5px solid #26374a;
  position: relative;
  padding-left: 29px;
}
.gc-navseq-fa>li>a[href]:hover span.fa-li {
  height: 44px;
  width: 44px;
  padding-top: 2px;
  font-size: 1.2em;
  margin-left: 14px;
  margin-top: -0.03em;
}

/*sub-steps*/
.gc-navseq li ul, .gc-navseq li ol, .gc-navseq-fa li ul, .gc-navseq-fa li ol {
  margin-top: 16px!important;
}
ol.gc-navseq ol.gc-navseq {
  counter-reset: step-counter;
}
ol.gc-navseq ol.gc-navseq>li {
  counter-increment: step-counter;
}
ol.gc-navseq ol.gc-navseq>li>a::before {
  content: counter(step-counter, upper-alpha);
}

/*sub-sub-steps */
ol.gc-navseq ol.gc-navseq ol.gc-navseq {
  counter-reset: step-counter;
}
ol.gc-navseq ol.gc-navseq ol.gc-navseq>li {
  counter-increment: step-counter;
}
ol.gc-navseq ol.gc-navseq ol.gc-navseq>li>a::before {
  content: counter(step-counter, lower-roman);
}

/*custom list-type */
ol.gc-navseq.lst-lwr-rmn>li>a::before {
  content: counter(step-counter, lower-roman)!important;
}
ol.gc-navseq.lst-upr-rmn>li>a::before {
  content: counter(step-counter, upper-roman)!important;
}
ol.gc-navseq.lst-upr-alph>li>a::before {
  content: counter(step-counter, upper-alpha)!important;
}
ol.gc-navseq.lst-lwr-alph>li>a::before {
  content: counter(step-counter, lower-alpha)!important;
}
ol.gc-navseq.lst-num>li>a::before {
  content: counter(step-counter)!important;
}

/*Vertical steps in mobile  */
@media screen and (max-width:991px) {
aside.gc-nav nav {
  margin-top: 38px;
}
aside.gc-nav nav>.gc-navseq {
  border-right: 5px solid #26374a;
  border-top: 5px solid #26374a;
  border-radius: 0 6px 6px 0;
  padding-top: 30px;
  margin-top: -18px;
}
aside.gc-nav nav>.gc-navseq > li:last-child {
  border-bottom: 5px solid #26374a;
  border-left: 5px solid #26374a;
  border-bottom-left-radius: 6px;
  padding-bottom: 24px;
}
aside.gc-nav h1 {
  border-bottom: none;
  margin-bottom: -18px;
  background-color: white;
  padding: 20px 10px 10px 20px;
  display: inline-block;
  margin-left: -20px;
  font-size: 1.3em!important;
  margin-right: 25px;
}
}

/*alerts(new design replacement, remove -alt from all classes) */
.alert-alt {
  margin-left: 10px;
  border-left: 6px solid #000;
  padding-left: 15px;
  background-clip: content-box;
  margin-bottom: 23px;
}
.alert-alt > p, .alert-alt > .ul, .alert-alt > .ol {
  margin-bottom: 0px;
}
.alert-alt>* {
  margin-left: 15px;
}
.alert-alt details {
  margin-left: 0.5em
}
.alert-alt >:first-child:not(details) {
  padding-top: 15px;
  margin-top:auto;
}
.alert-alt >:last-child {
  padding-bottom: 25px;
}
.alert-alt:before {
  font-size: 26px;
  margin-left: -1.28em;
  margin-top: 0.5em;
  padding: 2px;
  background-color: #fff;
  line-height: 1.1em;
  font-family: "Glyphicons Halflings";
  position: absolute;
}
.well .alert-alt:before {
  background-color: #f5f5f5;
}
.alert-info-alt {
  border-left-color: #269abc;
}
.alert-success-alt {
  border-left-color: #278400;
}
.alert-warning-alt {
  border-left-color: #f90;
}
.alert-danger-alt {
  border-left-color: #d3080c;
}
.alert-info-alt::before, details.alert-info-alt::before {
  content: "\e086";
  color: #269abc;
}
.alert-success-alt::before {
  content: "\e084";
  color: #278400;
}
.alert-warning-alt::before {
  content: "\e107";
  color: #f90;
}
.alert-danger-alt::before {
  content: "\e101";
  color: #d3080c;
}
