
/* Breadcrumbs */
#wb-bc ol {
    margin-top: 0;
}
#wb-bc li {
    padding-top: 0;
}

/* Page "superhead" */
#superhead {
    font-size: 1.7em;
    font-weight: bold;
}
.app-number {
    white-space:nowrap;
}
#status {
    border-left: 3px solid #999;
    padding-left: 2px;
    background-color: #EEE;
}

/* Navigation wizard */
ul.nav-wizard li {
    font-size: inherit;
}

/* General */
.border-top {
    padding-top: 11.5px;
    border-top: 1px solid #ddd
}

.btn {
	min-width: 6em;
	margin-right: 10px;
	margin-bottom: 10px;
}